@charset "UTF-8";
body {
  font-family: "Trebuchet MS", Arial;
}

a {
  text-decoration: none;
}

hr {
  background: none;
  border: none;
}

table {
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
}

td, th {
  padding: 0.25em 0.8em;
}

input {
  border-radius: 0.4em;
}

input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=checkbox] {
  appearance: none;
  width: 2.4em;
  height: 1.2em;
  border-radius: 1.2em;
  transition: background-color 0.3s ease;
}

input[type=checkbox]::after {
  width: 0.6em;
  height: 0.6em;
  margin: calc(0.3em - 1px);
  border-radius: 1.2em;
  display: block;
  content: "";
  transform: translateX(0);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

input[type=checkbox]:checked::after {
  transform: translateX(1.2em);
}

input[type=radio] {
  appearance: none;
  width: 1.2em;
  height: 1.2em;
  border-radius: 1.2em;
}

input[type=radio]::after {
  width: 0.6em;
  height: 0.6em;
  margin: calc(0.3em - 1px);
  border-radius: 1.2em;
  display: block;
  content: "";
  background-color: transparent;
  transition: background-color 0.3s ease;
}

fieldset {
  border: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.tm {
  margin: 0.7em 0;
}

.twhite h1, .twhite h2, .twhite h3, .twhite h4, .twhite h5, .twhite h6 {
  color: #101010;
}
.twhite a {
  color: #3f8cd9;
}
.twhite a:hover {
  color: rgb(25.1956521739, 76.25, 127.3043478261);
}
.twhite tr:hover, .twhite input:hover, .twhite button:hover {
  outline: 1px dashed #3f8cd9;
}
.twhite *:focus {
  outline: 1px solid #3f8cd9;
}
.twhite hr {
  border-top: 2px solid #dadada;
}
.twhite th {
  border-bottom: 2px solid #777777;
}
.twhite td:nth-child(even) {
  background-color: #ececec;
}
.twhite input {
  background-color: #ececec;
  border: 1px solid #777777;
  color: #101010;
}
.twhite input:focus {
  outline: none;
  border-color: #3f8cd9;
}
.twhite input[type=submit]:focus, .twhite input[type=button]:focus {
  outline: 1px solid #3f8cd9;
}
.twhite input[type=checkbox]::after {
  background-color: #777777;
}
.twhite input[type=checkbox]:checked {
  background-color: #6cad3d;
  border-color: transparent;
}
.twhite input[type=checkbox]:checked::after {
  background-color: #ffffff;
}
.twhite input[type=radio]:checked::after {
  background-color: #6cad3d;
}
.twhite input[type=checkbox]:checked:focus {
  outline: 1px solid #3f8cd9;
}

.tdark h1, .tdark h2, .tdark h3, .tdark h4, .tdark h5, .tdark h6 {
  color: #F0F0F0;
}
.tdark a {
  color: #95b6da;
}
.tdark a:hover {
  color: rgb(186.8041958042, 208.034965035, 231.1958041958);
}
.tdark tr:hover, .tdark input:hover, .tdark button:hover {
  outline: 1px dashed #95b6da;
}
.tdark *:focus {
  outline: 1px solid #95b6da;
}
.tdark hr {
  border-top: 2px solid #101010;
}
.tdark th {
  border-bottom: 2px solid #949494;
}
.tdark td:nth-child(even) {
  background-color: #202020;
}
.tdark input {
  background-color: #202020;
  border: 1px solid #949494;
  color: #F0F0F0;
}
.tdark input:focus {
  outline: none;
  border-color: #95b6da;
}
.tdark input[type=submit]:focus, .tdark input[type=button]:focus {
  outline: 1px solid #95b6da;
}
.tdark input[type=checkbox]::after {
  background-color: #949494;
}
.tdark input[type=checkbox]:checked {
  background-color: #96d46a;
  border-color: transparent;
}
.tdark input[type=checkbox]:checked::after {
  background-color: #252525;
}
.tdark input[type=radio]:checked::after {
  background-color: #96d46a;
}
.tdark input[type=checkbox]:checked:focus {
  outline: 1px solid #95b6da;
}

button, input[type=submit], input[type=button] {
  appearance: none;
  border-radius: 0.4em;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.15s, transform 0.15s;
  margin: 0 0.1em;
}

button:active, input[type=submit]:active, input[type=button]:active {
  transform: translateY(2px);
}

.twhite button, .twhite input[type=submit], .twhite input[type=button] {
  background-color: rgb(234.6, 234.6, 234.6);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8), 0 2px rgb(191.25, 191.25, 191.25);
  color: #202127;
}
.twhite button:active, .twhite input[type=submit]:active, .twhite input[type=button]:active {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8), 0 0 rgb(191.25, 191.25, 191.25);
}

.tdark button, .tdark input[type=submit], .tdark input[type=button] {
  background-color: rgb(57.4, 57.4, 57.4);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8), 0 2px hsl(0, 0%, -0.4901960784%);
  color: #eeebe7;
}
.tdark button:active, .tdark input[type=submit]:active, .tdark input[type=button]:active {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8), 0 0 hsl(0, 0%, -0.4901960784%);
}

.check3 {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 0.1em;
  border-radius: 0.25em;
  transition: background-color 0.3s ease;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
}

.check3[value=true]::after {
  content: "✓";
  font-size: 0.7em;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 900;
}

.check3[value=half]::after {
  content: "";
  width: 0.5em;
  height: 0.25em;
  border-radius: 0.25em;
  position: absolute;
  top: calc(0.375em - 1px);
  left: calc(0.25em - 1px);
}

.twhite .check3 {
  background-color: #ececec;
  border: 1px solid #777777;
  color: #101010;
}
.twhite .check3:focus {
  outline: 1px solid #3f8cd9;
}
.twhite .check3[value=true] {
  border-color: #6cad3d;
  background-color: #6cad3d;
}
.twhite .check3[value=true]::after {
  color: #ececec;
}
.twhite .check3[value=half] {
  border-color: #ad9c3d;
  background-color: #ad9c3d;
}
.twhite .check3[value=half]::after {
  background-color: #303030;
}

.tdark .check3 {
  background-color: #202020;
  border: 1px solid #949494;
  color: #F0F0F0;
}
.tdark .check3:focus {
  outline: 1px solid #95b6da;
}
.tdark .check3[value=true] {
  border-color: #96d46a;
  background-color: #96d46a;
}
.tdark .check3[value=true]::after {
  color: #202020;
}
.tdark .check3[value=half] {
  border-color: #d4c06a;
  background-color: #d4c06a;
}
.tdark .check3[value=half]::after {
  background-color: #303030;
}

.arrow {
  display: inline-block;
  padding: 3px;
}

.twhite .arrow {
  border: solid #303030;
  border-width: 0 3px 3px 0;
}

.tdark .arrow {
  border: solid #D0D0D0;
  border-width: 0 3px 3px 0;
}

.arrow--right {
  transform: rotate(-45deg);
}

.arrow--left {
  transform: rotate(135deg);
}

.arrow--up {
  transform: rotate(-135deg);
}

.arrow--down {
  transform: rotate(45deg);
}

.clickable {
  cursor: pointer;
  user-select: none;
}

@font-face {
  font-family: "aldo_the_apache";
  src: url("/rsc/txt/AldotheApache.ttf") format("truetype");
}
#logo {
  display: inline-block;
  font-family: "aldo_the_apache";
  font-size: 2.3em;
  padding: 0.1em 0.6em;
  transition: color 0.5s ease-out;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
}

header {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  width: 100%;
  transition: all 0.5s ease-out;
  position: sticky;
  padding-top: 0.4em;
  top: -2px;
  z-index: 10;
}

header[stuck] {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4666666667);
}

.twhite #logo {
  color: #ce6d13;
}
.twhite header {
  background-color: #ffffff;
  backdrop-filter: blur(0);
}
.twhite header[stuck] {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2px);
}

.tdark #logo {
  color: #d3a646;
}
.tdark header {
  background-color: #252525;
  backdrop-filter: blur(0);
}
.tdark header[stuck] {
  background-color: rgba(37, 37, 37, 0.7);
  backdrop-filter: blur(3px);
}

#bar_menu {
  float: right;
}

#bar_menu a {
  display: block;
  float: left;
  padding: 0.2em 0.4em;
  margin: 0 0.1em;
  font-size: 1.3em;
  border-bottom: 0.2em solid black;
  border-top: 0.2em solid transparent;
  cursor: pointer;
  user-select: none;
  transition: border 0.15s ease, color 0.15s ease;
}

#bar_menu a:hover {
  border-bottom-width: 0.3em;
  border-top-width: 0.1em;
}

.twhite #bar_menu a {
  border-bottom-color: #3f8cd9;
}

.twhite #bar_menu a:hover {
  border-bottom-color: rgb(25.1956521739, 76.25, 127.3043478261);
}

.tdark #bar_menu a {
  border-bottom-color: #95b6da;
}

.tdark #bar_menu a:hover {
  border-bottom-color: rgb(186.8041958042, 208.034965035, 231.1958041958);
}

#theme_button {
  font-size: 0.66em;
  display: inline-block;
  width: 3.6em;
  height: 1.8em;
  border-radius: 1.8em;
  transition: background-color 0.3s ease;
  margin: 1em 1.5em;
  cursor: pointer;
}

#theme_button::before, #theme_button::after {
  display: block;
  content: "";
  width: 1.2em;
  height: 1.2em;
  position: absolute;
  margin: calc(0.3em - 1px);
  border-radius: 1.8em;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#theme_button.automatic::before {
  content: "A";
}

.twhite #theme_button {
  background-color: #ececec;
  border: 1px solid #777777;
}

.twhite #theme_button::before {
  background-color: rgb(243.8533333333, 186.9466666667, 134.1466666667);
  transform: translateX(1.8em);
}

.twhite #theme_button::after {
  background-color: #ececec;
}

.tdark #theme_button {
  background-color: #202020;
  border: 1px solid #949494;
}

.tdark #theme_button::before {
  background-color: rgb(103.4061135371, 78.2532751092, 24.5938864629);
  transform: translateX(0);
}

.tdark #theme_button::after {
  background-color: #202020;
  transform: translateX(0.375em) translateY(-0.15em) scale(0.8);
}

@media (width < 500px) {
  #logo {
    padding: 0.2em 0.2em 0 0.2em;
    font-size: 1.6em;
  }
  #bar_menu a {
    padding: 0.1em 0.25em;
  }
  #theme_button {
    margin: 0.5em;
  }
}
footer {
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.4666666667);
  width: 100%;
  overflow-x: hidden;
}
footer .fcol {
  width: 100%;
  padding: 0.5em;
  display: inline-block;
}
footer .aut {
  text-decoration: none;
}

@media (width >= 450px) {
  footer .fcol {
    padding: 0.5em 3em;
  }
}
@media (width < 600px) {
  footer .fcol {
    text-align: center;
  }
}
@media (width >= 600px) {
  footer .fcol {
    width: 50%;
  }
}
@media (width > 1000px) {
  footer {
    padding: 0 calc(50% - 400px);
  }
  footer .fcol:nth-child(1) {
    width: 65%;
  }
  footer .fcol:nth-child(2) {
    width: 35%;
  }
}
.contato {
  display: inline-block;
  border-radius: 0.5em;
  width: 4em;
  height: 4em;
  margin: 0 0.5em;
  background-size: 2.7em 2.7em;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0px 3px 2px rgba(0, 0, 0, 0.4666666667);
}

.twhite footer {
  background-color: #ffffff;
}
.twhite .aut {
  color: #ce6d13;
}
.twhite .contato {
  background-color: #dadada;
}

.tdark footer {
  background-color: #252525;
}
.tdark .aut {
  color: #d3a646;
}
.tdark .contato {
  background-color: #101010;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.twhite::-webkit-scrollbar-track {
  background: #dadada;
}

.twhite::-webkit-scrollbar-thumb {
  background: rgb(243.8533333333, 186.9466666667, 134.1466666667);
}

.twhite::-webkit-scrollbar-thumb:hover {
  background: rgb(239.5466666667, 160.6533333333, 87.4533333333);
}

.tdark::-webkit-scrollbar-track {
  background: #101010;
}

.tdark::-webkit-scrollbar-thumb {
  background: rgb(103.4061135371, 78.2532751092, 24.5938864629);
}

.tdark::-webkit-scrollbar-thumb:hover {
  background: rgb(62.2052401747, 47.0742358079, 14.7947598253);
}

.appmain {
  border: 1px solid rgba(0, 0, 0, 0.4666666667);
}

.appmain.app800 {
  margin: 1em calc(50% - 400px);
  width: 800px;
}

@media (width < 800px) {
  .appmain.app800 {
    margin: 0 0;
    width: 100%;
  }
}
.appmain.app500 {
  margin: 1em calc(50% - 250px);
  width: 500px;
}

@media (width < 500px) {
  .appmain.app500 {
    margin: 0 0;
    width: 100%;
  }
}
.twhite .appmain {
  background-color: #ffffff;
}

.tdark .appmain {
  background-color: #252525;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

header {
  padding: 0;
}

body.twhite {
  background-color: #dadada;
}

body.tdark {
  background-color: #101010;
}

.popup {
  z-index: 20;
  position: fixed;
  padding: 0.3em 0.6em;
  backdrop-filter: blur(3px);
  box-shadow: 0 0px 4px 2px rgba(0, 0, 0, 0.7333333333);
  text-align: center;
  opacity: 1;
  transition: all 0.25s;
  border-radius: 1em;
  transform: translate(-50%, -50%) scale(1, 1);
}
.popup h4, .popup p {
  margin: 0;
}

.popup.hidden {
  opacity: 0;
  transform: translate(-25%, -50%) scale(0.5, 0.5);
}

.twhite {
  color: #303030;
}
.twhite .popup {
  background-color: rgba(218, 218, 218, 0.5);
}

.tdark {
  color: #D0D0D0;
}
.tdark .popup {
  background-color: rgba(16, 16, 16, 0.5);
}

/*.prompts
 * position: fixed
 * width:100%
 * left:0
 * bottom:0*/
.ficon {
  display: inline-block;
  vertical-align: center;
  width: 1em;
  height: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ficon--p-and {
  background-image: url("/rsc/img/plat/and.png");
}

.ficon--p-ard {
  background-image: url("/rsc/img/plat/ard.png");
}

.ficon--p-asm {
  background-image: url("/rsc/img/plat/asm.png");
}

.ficon--p-esp {
  background-image: url("/rsc/img/plat/esp.png");
}

.ficon--p-ios {
  background-image: url("/rsc/img/plat/ios.png");
}

.ficon--p-lnx {
  background-image: url("/rsc/img/plat/lnx.png");
}

.ficon--p-mac {
  background-image: url("/rsc/img/plat/mac.png");
}

.ficon--p-win {
  background-image: url("/rsc/img/plat/win.png");
}

.ficon--p-xbx {
  background-image: url("/rsc/img/plat/xbx.png");
}

/*# sourceMappingURL=common.css.map */
